@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #faebd7;
    font-family: 'Inter';
    font-weight: bold;

    background-image: url("/assets/images/background.png");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed; 

    width: 100%;
    height: 100%;
}

html {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-style {
    border: 5px solid black;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 0px black) ;
}

/* NAVBAR */
.navbar a{
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

/* DIV HAUT */
.top-div {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 40px;
}

/* DIV CENTRALE */
.center-div {
    display: flex;
    justify-content: space-around;
}

.center-div a{
    background-color:#FF8577;
    overflow: hidden;
    text-decoration: none;
    color: black;

    display: flex;
    justify-content: center;

    font-size: 200%;
    max-width: 100px;
    padding: 10%;
}

.center-div a:hover{
    filter: drop-shadow(10px 10px 0px black) ;
    transform: translate(-5px, -5px);
    transition: ease-in-out 0.2s;
    
    
    /*background-image: url(/assets/images/karting.png);*/
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed; 
}

.center-div a:first-child:hover{
    background-image: url(/assets/images/karting.png);
}

/* LOGIN FORM */
.full-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    transform: translateY(-40px);
}

.full-form h4 {
    background-color: aliceblue;
    padding: 7px;
    margin-bottom: 0px;
    transform: translateY(20px);
    z-index: 2;
}

.login-form, .signin-form{
    background-color:#C7B9FF;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    padding: 20px;
    gap: 10px;
    align-items: center;
    padding-top: 40px;
}

.login-form input[type="submit"], .signin-form input[type="submit"] {
    max-width: 20%;
}

.login-form input, .signin-form input{
    border: 5px solid black;
    border-radius: 20px;
    padding: 7px 10px;
    width: 60%;
    font-family: "Inter";
    font-weight: bold;
}

.logged-in {
    display: none;
    flex-direction: column;
    align-items: center;
}

.logged-in button{
    padding: 7px 10px;
    margin-top: 10%;
    width: 20%;
    font-family: "Inter";
    font-weight: bold;
}